<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You just got owned</h1>
    <p>Hey {{ip}}</p>
    <p>Ho {{response.ip2}}</p>
    <p>City {{response.region}}</p>
    <p>Lat {{response.latitude}}</p>
    <p>Long {{response.longitude}}</p>

    <h3>Maps</h3>
    {{destination}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>